In [3]:
%reload_ext autoreload
%autoreload 2

In [1]:
from src.data import load_raw_data

rides = load_raw_data(year = 2023)
rides

File 2023-01 was already in local storage
Downloading file 2023-02
Downloading file 2023-03
Downloading file 2023-04
Downloading file 2023-05
Downloading file 2023-06
Downloading file 2023-07
Downloading file 2023-08
Downloading file 2023-09
Downloading file 2023-10
2023-10 file is not available
Downloading file 2023-11
2023-11 file is not available
Downloading file 2023-12
2023-12 file is not available

            pickup_datetime  pickup_location_id
0       2023-01-01 00:32:10                 161
1       2023-01-01 00:55:08                  43
2       2023-01-01 00:25:04                  48
3       2023-01-01 00:03:48                 138
4       2023-01-01 00:10:29                 107
...                     ...                 ...
2846717 2023-09-30 23:31:12                 125
2846718 2023-09-30 23:42:18                 236
2846719 2023-09-30 23:03:35                 211
2846720 2023-09-30 23:57:05                 209
2846721 2023-09-30 23:25:47                  80

[28071056 rows x 2 columns]

In [4]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:02<00:00, 96.88it/s]

                pickup_hour  rides  pickup_location_id
0       2023-01-01 00:00:00      0                   1
1       2023-01-01 01:00:00      0                   1
2       2023-01-01 02:00:00      0                   1
3       2023-01-01 03:00:00      0                   1
4       2023-01-01 04:00:00      0                   1
...                     ...    ...                 ...
1736275 2023-09-30 19:00:00      0                 265
1736276 2023-09-30 20:00:00      2                 265
1736277 2023-09-30 21:00:00      4                 265
1736278 2023-09-30 22:00:00      1                 265
1736279 2023-09-30 23:00:00      2                 265

[1736280 rows x 3 columns]

In [7]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data, 
    input_seq_len= 24*28*1, #one week
    step_size= 24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:17<00:00, 15.40it/s]

features.shape=(64925, 674)
targets.shape=(64925,)

In [8]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')